<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.deipss.jvm.sandbox.inspector.web.dal.mapper.InvocationMapper">
    <sql id="Base_Column_List">
        id,
        protocol,
        traceId,
        uk,
        preUk,
        invokeId,
        innerEntrance,
        outerEntrance,
        requestJson,
        className,
        methodName,
        rpcContext,
        responseJson,
        throwableMsg,
        throwableClass,
        `sql`,
        topic,
        msgId,
        tags,
        mqBody,
        `start`,
        startTime,
        `end`,
        endTime,
        ip,
        httpPort,
        uri,
        url,
        contentType,
        httpBody,
        httpHeaders,
        httpParameters
    </sql>
    <resultMap id="BaseResultMap" type="me.deipss.jvm.sandbox.inspector.web.dal.entity.InvocationDO">
        <result column="id" property="id"/>
        <result column="protocol" property="protocol"/>
        <result column="traceId" property="traceId"/>
        <result column="uk" property="uk"/>
        <result column="preUk" property="preUk"/>
        <result column="invokeId" property="invokeId"/>
        <result column="innerEntrance" property="innerEntrance"/>
        <result column="outerEntrance" property="outerEntrance"/>
        <result column="requestJson" property="requestJson"/>
        <result column="className" property="className"/>
        <result column="methodName" property="methodName"/>
        <result column="rpcContext" property="rpcContext"/>
        <result column="responseJson" property="responseJson"/>
        <result column="throwableMsg" property="throwableMsg"/>
        <result column="throwableClass" property="throwableClass"/>
        <result column="sql" property="sql"/>
        <result column="topic" property="topic"/>
        <result column="msgId" property="msgId"/>
        <result column="tags" property="tags"/>
        <result column="mqBody" property="mqBody"/>
        <result column="start" property="start"/>
        <result column="startTime" property="startTime"/>
        <result column="end" property="end"/>
        <result column="endTime" property="endTime"/>
        <result column="ip" property="ip"/>
        <result column="httpPort" property="httpPort"/>
        <result column="uri" property="uri"/>
        <result column="url" property="url"/>
        <result column="contentType" property="contentType"/>
        <result column="httpBody" property="httpBody"/>
        <result column="httpHeaders" property="httpHeaders"/>
        <result column="httpParameters" property="httpParameters"/>
    </resultMap>

<!--auto generated by MybatisCodeHelper on 2024-01-02-->
    <insert id="insertSelective">
        INSERT INTO t_invocation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="protocol != null">
                protocol,
            </if>
            <if test="traceId != null">
                traceId,
            </if>
            <if test="uk != null">
                uk,
            </if>
            <if test="preUk != null">
                preUk,
            </if>
            <if test="invokeId != null">
                invokeId,
            </if>
            <if test="innerEntrance != null">
                innerEntrance,
            </if>
            <if test="outerEntrance != null">
                outerEntrance,
            </if>
            <if test="requestJson != null">
                requestJson,
            </if>
            <if test="className != null">
                className,
            </if>
            <if test="methodName != null">
                methodName,
            </if>
            <if test="rpcContext != null">
                rpcContext,
            </if>
            <if test="responseJson != null">
                responseJson,
            </if>
            <if test="throwableMsg != null">
                throwableMsg,
            </if>
            <if test="throwableClass != null">
                throwableClass,
            </if>
            <if test="sql != null">
                `sql`,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="msgId != null">
                msgId,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="mqBody != null">
                mqBody,
            </if>
            <if test="start != null">
                `start`,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="end != null">
                `end`,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="httpPort != null">
                httpPort,
            </if>
            <if test="uri != null">
                uri,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="contentType != null">
                contentType,
            </if>
            <if test="httpBody != null">
                httpBody,
            </if>
            <if test="httpHeaders != null">
                httpHeaders,
            </if>
            <if test="httpParameters != null">
                httpParameters
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="protocol != null">
                #{protocol},
            </if>
            <if test="traceId != null">
                #{traceId},
            </if>
            <if test="uk != null">
                #{uk},
            </if>
            <if test="preUk != null">
                #{preUk},
            </if>
            <if test="invokeId != null">
                #{invokeId},
            </if>
            <if test="innerEntrance != null">
                #{innerEntrance},
            </if>
            <if test="outerEntrance != null">
                #{outerEntrance},
            </if>
            <if test="requestJson != null">
                #{requestJson},
            </if>
            <if test="className != null">
                #{className},
            </if>
            <if test="methodName != null">
                #{methodName},
            </if>
            <if test="rpcContext != null">
                #{rpcContext},
            </if>
            <if test="responseJson != null">
                #{responseJson},
            </if>
            <if test="throwableMsg != null">
                #{throwableMsg},
            </if>
            <if test="throwableClass != null">
                #{throwableClass},
            </if>
            <if test="sql != null">
                #{sql},
            </if>
            <if test="topic != null">
                #{topic},
            </if>
            <if test="msgId != null">
                #{msgId},
            </if>
            <if test="tags != null">
                #{tags},
            </if>
            <if test="mqBody != null">
                #{mqBody},
            </if>
            <if test="start != null">
                #{start},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="end != null">
                #{end},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="ip != null">
                #{ip},
            </if>
            <if test="httpPort != null">
                #{httpPort},
            </if>
            <if test="uri != null">
                #{uri},
            </if>
            <if test="url != null">
                #{url},
            </if>
            <if test="contentType != null">
                #{contentType},
            </if>
            <if test="httpBody != null">
                #{httpBody},
            </if>
            <if test="httpHeaders != null">
                #{httpHeaders},
            </if>
            <if test="httpParameters != null">
                #{httpParameters}
            </if>
        </trim>
    </insert>
</mapper>